@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.custom-progress {
  /* Hide the default appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Customize color and border of progress bar */

.custom-progress::-webkit-progress-bar {
  background-color: #e5e7eb; /* Tailwind's gray-200 color for the background */
  border-radius: 9999px; /* Full rounding */
  overflow: hidden;
}

.custom-progress::-webkit-progress-value {
  background-color: #3b82f6; /* Tailwind's blue-500 color for the progress indicator */
  border-radius: 9999px; /* Full rounding */
}

.custom-progress::-moz-progress-bar {
  background-color: #3b82f6; /* Tailwind's blue-500 color for Firefox */
  border-radius: 9999px; /* Full rounding */
}

/* Table styling
/* chart component */
.table {
  overflow-x: auto;
}

table {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #eff6ff;
}

td {
  border: none;
}

thead > tr:nth-child(odd) {
  background-color: white;
}

td,
th {
  text-align: center;
  padding: 18px 20px;
}

table .btn {
  margin-inline: auto;
}

table a {
  text-decoration: none;
}
